body{
    display: flex;
    justify-content: center;
}
.main{
    width: 800px;
    height: 800px;
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 50px;
}
.first{
    width: 750px;
    height: 750px;
    background-color: white;
    padding: 50px;
    display: flex;
    justify-content: center;
    
}
.second{
    width: 650px;
    height: 650px;
    background-color: rgb(77,15,0);
    /* margin-left: 25px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* padding: 10px; */
    align-items: center;
  

}
.inner1{
    width: 600px;
    height: 200px;
    background-color: rgb(238,183,98);
    margin-top: 10px;
    border-radius: 20px;

}
.inner2{
    width: 630px;
    height: 250px;
    background-color: rgb(143,4,1);
    margin-top: 10px;
    border-radius: 20px;
}
.inner3{
    width: 600px;
    height: 150px;
    background-color: rgb(178,4,3);
    margin-top: 10px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 10px;
}